<div class="main">
    <!-- Main Section -->
    <div class="hero-poem">
        <div class="container">
            <div class="row">
            	<div class="col-xs-3">
<!-- 					
					<div class="btn-toolbar" role="toolbar" >
						<div class="btn-group mr-2" role="group">
							<button type="button" class="btn btn-default">A</button>
							<button type="button" class="btn btn-default">B</button>
						</div>
					</div> -->
            	</div>

            	<div class="col-xs-6">
                    <div class="hero-poem-heading">
                        <h1>Random {{vm.poem.length}} line poem</h1>
                        <p>Hover over lines in the transcript to see where they originated from!</p>
                        <br>
                        <p>{{vm.poemIndex}} / {{vm.poem.length}} lines</p>
                    </div>
            	</div>

            	<div class="col-xs-3">

            	</div>
<!--                 <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="hero-poem-heading">
                        <h1 ng-bind="vm.poem.title"></h1>
                        <p>by <a ng-href="author/{{vm.poem.author}}">{{vm.poem.author}}</a></p>
                        <br>
                        <p>{{vm.poemIndex}} / {{vm.poem.lines.length}} lines</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Poem Section -->
    <div class="poem-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 transcript-wrapper text-center">
                    <h1>Transcript</h1>
                    <div class="transcript-text" data-simplebar>
	                    <p ng-repeat="typedLine in vm.typedPoem track by $index" data-simplebar>
	                        <span title="From '{{vm.poem[$index].title}}'' by {{vm.poem[$index].author}}">{{typedLine}}</span>
							
							<br ng-if="vm.poem.lines[$index] == false">

	                    </p> 	
                    </div>
                </div>
                
                <span us-spinner="{radius:30, width:8, length: 16}" spinner-on="vm.showSpinner"></span>

                <div class="col-sm-8 input-wrapper text-center">

                    <!-- <h1 class="text-center">Input</h1> -->
					<div class="flat-wrapper" ng-show="vm.done && !vm.showSpinner">
						<div class="row row-centered">
							<button class="flat-button base" ng-click="vm.reloadRoute()">Repeat this poem!</button>
							<button class="flat-button accent" ng-click="vm.randomPoem()">Generate a new poem!</button>
							<button class="flat-button complement">Share this poem!</button>
						</div>
					</div>
                    <div ng-repeat="line in vm.trimmedLines track by $index">
                        <div ng-if="vm.poemIndex == $index">
                            <textarea class=" typed poem-text" type="text" ng-model="vm.typedPoem[$index]" 
                            ng-change="vm.check(vm.typedPoem[$index], $index)" 
                            focus-if required></textarea>
                            <textarea class=" type poem-text" type="text" placeholder="{{line}}" disabled></textarea>
                            <!-- <p>{{vm.typedPoem[$index]}}</p> -->
                            <!-- <span>{{vm.typedPoem[$index] == line}}</span> -->
                        </div>
                    </div>
                    <button ng-click="vm.next()"> Next </button>
                    <button ng-click="vm.done= !vm.done">Done</button>
                </div>
            </div>
        </div>
    </div>
