.list-header {
	font-family: 'Roboto Slab', serif;
	// color: $sootColor;
}

.paginate-group a {
	font-family: 'Lato', sans-serif;

	@include respond-to('tiny') {
		font-size: 12px;
	};

	@include respond-to('small') {
		font-size: 14px;
	};
}

.small {
	color: $sootColor;
}