body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.type {
  color: red;
  bottom: 34px; }

.typed {
  z-index: 10;
  background: none; }

.poem-text {
  position: relative; }

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto; }

span[type-header] {
  font-family: 'Caveat Brush', serif;
  letter-spacing: .15em; }
