$typecolor: red;
$inputShift: 34px; //Amount to move up the DISABLED input to match the other

$breakpoints: (
  'medium': (min-width: 800px),
  'large': (min-width: 1000px),
  'huge': (min-width: 1200px),
);

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.type {
	color: $typecolor;
	bottom: $inputShift; 
}

.typed {
	z-index:10;
	background:none;
}

.poem-text {
	position: relative;
}

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
}

span[type-header] {
  font-family: monospace;
  letter-spacing: .15em;
}