$typecolor: red;
$inputShift: 34px; //Amount to move up the DISABLED input to match the other

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.type {
	color: $typecolor;
	bottom: $inputShift; 
}

.typed {
	z-index:10;
	background:none;
}

.poem-text {
	position: relative;
}