<div class="container">
	
	<h2>Poem</h2>
	<hr>

	<h3 ng-bind="vm.poem.title"></h3>
	<h4 ng-bind="vm.poem.author"></h4>
	
	<div ng-repeat="line in vm.poem.lines track by $index">
		<div ng-if="vm.poemIndex == $index">
			<input class="form-control typed poem-text" type="text" ng-model="vm.typedPoem[$index]" ng-change="vm.check(vm.typedPoem[$index], $index)" focus-if required>
			<input class="form-control type poem-text" type="text" placeholder="{{line}}" disabled>
			<p>{{vm.typedPoem[$index]}}</p> 
			<span>{{vm.typedPoem[$index] == line}}</span>

		</div>

	</div>
	<button ng-click="vm.next()"> Next </button>
</div>