/*  Flat button styling */

.flat-button {
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	padding: 5px;
	margin: 10px;
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    border-style: solid;
    border-width: 0px 0px 3px;
    border-radius: 6px;
    overflow: hidden;
	text-align: center;

	font-size: 28px;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	
	height: 200px;
	width: 200px;


}	
button.base {
	border-color: $baseColor;
	background-color: $baseColor;
	color: white;
	@include poem-button-shadow($baseColor);
}

button.accent {
	border-color: $accentColor;
	background-color: $accentColor;
	color: white;
	@include poem-button-shadow($accentColor);

}

button.complement {
	border-color: $complementColor;
	background-color: $complementColor;
	color: white;
	@include poem-button-shadow($complementColor);
}

/* Circle button styling */
.circle-button {
	width: 30px;
	height: 30px;

	text-align: center;
	padding: 6px 0;
	border-radius: 15px;
}