$typecolor: red;
$heightOffet: 5px; // Accounts for difference in textarea?
$height: 300px + 5px; //Amount to move up the DISABLED textarea to match the other's size

.input-wrapper {
	min-height: 300px; // To not break styling when no text
	padding-top: 60px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: #d3d3d3;

}
/* Placeholder Input */
.type {
	color: $typecolor;
	bottom: $height; 
}

/* User Input */
.typed {
	z-index:10;
	background:none;
	padding-top: 4px; // Move down
}

textarea.poem-text {
	// padding: 0;
	resize: none;
	position: relative;
	width: 100%;
	margin: 0px auto;
	font-family: 'Lato', sans-serif;
	font-size: 3em;
	height: $height;
	background: rgba(0,0,0,0);
	border: 0;
	outline: 0;
	word-wrap: break-word;
}

