doctype html
html(ng-app="myApp" ng-strict-di)
  head
    title(ng-bind="title") Typoetry
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    base(href='/')
    meta(charset='utf-8')

    link(rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon")

    <!-- build:css styles/lib.css-->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/bower_components/sweetalert2/dist/sweetalert2.css" />
    <link rel="stylesheet" href="/bower_components/angular-resizable/src/angular-resizable.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/app.css-->
    //- inject:css
    link(rel="stylesheet", href="/public/stylesheets/main.css")
    link(rel="stylesheet", href="/public/fonts/fonts.css")
    //- endinject
    <!--endbuild-->

  body
    include _nav.pug

    div(ng-view)
        block content

  <!--build:js js/lib.js -->
  <!--bower:js-->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/bower_components/es6-promise/es6-promise.js"></script>
  <script src="/bower_components/sweetalert2/dist/sweetalert2.js"></script>
  <script src="/bower_components/angular-resizable/src/angular-resizable.js"></script>
  <!--endbower-->
  <!--endbuild-->
  
  <!--build:js js/app.js -->
  //- build:js js/app.js
  //- inject:js
  script(src="/public/javascripts/dirPagination.js")
  script(src="/public/javascripts/focusIf.min.js")
  script(src="/public/javascripts/typeit.min.js")
  script(src="/app_client/app.js")
  script(src="/app_client/author/author.controller.js")
  script(src="/app_client/authors/authors.controller.js")
  script(src="/app_client/error/error.controller.js")
  script(src="/app_client/home/home.controller.js")
  script(src="/app_client/poem/poem.controller.js")
  script(src="/app_client/poems/poems.controller.js")
  script(src="/app_client/common/services/api.factory.js")
  script(src="/app_client/common/directives/type-header/type-header.directive.js")
  //- endinject

  <!--inject:templates:js-->
  <!--endinject-->
  
  <!--endbuild-->
