<div class="main">
    <!-- Main Section -->
    <div class="hero-home">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="hero-home-heading">
                        <h1>Retype the greats.</h1>
                        <p>Enjoy poetry in a new and unique way, featuring almost <a href="/poems" class="color-fade">3000 poems</a> and <a href="/authors" class="color-fade">129 authors.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-on="vm.showSpinner"></span>

    <!-- Cards -->
    <div class="container info-wrapper">
        <div class="row row-centered">
            <div class="col-sm-3 col-centered info-card">
                <img src="public/svg/student.svg" alt="Relax">
                <h3>Relax</h3>
                <p>Take a break and use our minimalistic interface to enjoy poetry.</p>
                <p>Listen to your own tunes, or use the ambient sounds provided on the poem page!</p>
            </div>
            <div class="col-sm-3 col-centered info-card">
                <img src="public/svg/ebook.svg" alt="Experience">
                <h3>Experience</h3>
                <p>Don't just read poems, retain more by retyping and absorbing each line.</p>
                <p><strong>Click the links above</strong> or experience completely new poems by using the <strong>random</strong> feature to generate unique texts!</p>
            </div>
            <div class="col-sm-3 col-centered info-card">
                <img src="public/svg/vocabulary.svg" alt="Learn">
                <h3>Learn</h3>
                <p> Enter the world of poetry by typing along with some of the best, or discover new poems and expand your vocabulary.
                </p>
                <p>
                    English learners and typists-in-training are welcome to test their skills here too! </p>
            </div>
        </div>
        
        <!-- Random Section -->
        <div class="row row-centered hero-random">
            <div class="col-xs-12 col-centered">
                <h1>Create a random poem!</h1>
                <p>Specify the number of lines you want and we'll generate a unique text from poems with those amount of lines.</p>
                
                <div class="col-sm-4 col-sm-offset-4 random-input-wrapper">
                    <div class="input-group">
                        <span class="input-group-addon">Lines: </span>
                        <input class="form-control" type="number" name="num" ng-model="vm.num" min="1" max="99">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" ng-click="vm.randPoem(vm.num)">Make!</button>
                        </span>
                    </div>
                </div>

            </div>

        </div>
        <!-- Footer -->
        <footer class="home-footer">
            <span>Created by <a href="http://www.twitter.com/toashel" target="_blank">@toashel</a></span>
            <span>Icons designed by <a href="http://www.flaticon.com/authors/freepik" target="_blank">Freepik from Flaticon</a></span> 
            <a href="copyright">Copyright Notice</a>

        </footer>


    </div>



</div>
