/* Box Shadow 1 */
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

/* Responsive Breakpoint Manager */
@mixin respond-to($breakpoint) {
	$raw-query: map-get($breakpoints, $breakpoint);

	@if $raw-query {
		$query: if(
			type-of($raw-query) == 'string',
			unquote($raw-query),
			inspect($raw-query)
			);

		@media #{$query} {
			@content;
		}
	} @else {
		@error 'No value found for `#{$breakpoint}`.'
	}
}

/* Box Shadow for Poem Buttons */
@mixin poem-button-shadow($color) {
	$newColor: darken($color, 10%);
	-webkit-box-shadow: 0px 6px 0px $newColor;
    -moz-box-shadow: 0px 6px 0px $newColor;
    box-shadow: 0px 6px 0px $newColor;
}