$typecolor: red;
$inputShift: 34px; //Amount to move up the DISABLED input to match the other


/*	Base Palette 
	Created using https://www.smashingmagazine.com/2016/04/web-developer-guide-color/
*/
$darkGrayColor: #66624c;
$lightGrayColor: #fbfbf9;
$baseColor: #BEAD50;
$complementColor: #523F82;
$accentColor: #574A23;

