/*	Base Palette 
	Created using https://www.smashingmagazine.com/2016/04/web-developer-guide-color/
*/
$darkGrayColor: #66624c;
$lightGrayColor: #fbfbf9;
$baseColor: #BEAD50;
$complementColor: #523F82;
$accentColor: #574A23;

$baseDarkGrayColor: #424242;

/*  Media Breakpoints
	Reference: https://sass-guidelin.es/#responsive-web-design-and-breakpoints
 */
$breakpoints: (
	'small': (min-width: 600px),
	'small-med': (min-width: 750px),
	'medium': (min-width: 800px),
	'large': (min-width: 1000px),
	'huge': (min-width: 1200px)
);